.weatherCard {
  margin: 0 auto;
  margin-top: 46px;
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--text-primary, #2b2140);
  width: 85%;
}

.weatherTitle {
  font-size: 16px;
  color: var(--text-primary, #23183a);
}

.currentTemperature {
  color: rgba(108, 64, 181, 1);
  font-size: 70px;
  font-weight: bold;
}
.temperatureRange {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary, rgba(102, 102, 102, 1));
}

.weatherDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-secondary, rgba(102, 102, 102, 1));

  .location {
    font-weight: 700;
  }
}

.weatherIcon {
  width: 35%;
  height: 35%;
  background: url('../../assets/sun.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10%;
  right: 0;
}
